img{
    height:200px;
    width:200px;
}

body{
    background-color: antiquewhite;
}
h1{
    font-size: 7rem;
    text-align: center;
    color:gray ;

}.container_1{
    background-color: rgb(52, 196, 196);
    height: 300px;
    justify-content:space-around;
    align-items: center;
    margin-bottom:50px;
    padding: 10px;
    display: flex;
}
.container_2{
    background-color: rgb(205, 125, 139);
    height: 300px;
    justify-content:space-around;
    align-items: center;
    margin-bottom:50px;  
    padding: 10px;
    display: flex;

}
.container_3{
    background-color: white;
    height: 300px;
    justify-content:space-around;
    align-items: center;
    margin:5px;
    padding: 10px;
    display: flex;
}